

.jitsi-wrapper {
  position: relative;
  margin-top: 7.7rem;
  height: 100vh;
  width: 100%;
  border: 6px solid #2aaefa;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
  background: #000;
}

.jitsi-container {
  height: 100%;
  width: 100%;
}

.room-name {
  position: absolute;
  top: 10px;
  left: 15px;
  background: #2aaefa;
  color: rgb(0, 0, 0);
  padding: 4px 10px;
  border-radius: 8px;
  font-size: 20px;
  z-index: 10;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}
