/* Garden.css */

.garden-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 1%;
  font-family: sans-serif;
  padding: 2rem;
}
.attend-title{
  font-size: 34px;
  align-self: center;
  margin-bottom: 2%;
}
.garden-header {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
  margin-left: 1rem;
}

.year-select {
  font-size: 14px;
  padding: 4px 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
}
.year-input{
  margin-left: 18%;
}
.garden-body {
  display: flex;
  flex-direction: row;
  gap: 1px;
}

.garden-days {
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-right: 8px;
  font-size: 12px;
  color: #555;
  text-align: right;
}

.day-label {
  height: 16px;
  line-height: 10px;
  text-align: right;
  font-size: 18px;
  color: #757f83;
}

.garden-grid {
  display: flex;
  flex-direction: row;
  gap: 2px;
}

.week-column {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.day-cell {
  width: 17px;
  height: 17px;
  border-radius: 3px;
  background-color: #ebedf0;
  border: 1px solid #d0d7de;
  transition: background-color 0.3s, border-color 0.3s;
}

.day-cell.attended {
  background-color: #39d353;
  border-color: #646664;
}

.day-cell.not-attended {
  background-color: #212429;
  border-color: #656a70;
}

.day-cell.empty {
  background: white;
  border-color: #656a70;
}
.mark-button {
    background-color: #39d353;
    color: rgb(0, 0, 0);
    padding: .2%;
    border-radius: 4px;
    border: 1px solid #ccc;
    font-size: 16px;
}
