.profile-dropdown {
  position: absolute;
  margin-right: 3%;
}

.navigation {
  z-index: 1000;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 96%;
  height: 8cap;
  justify-content: space-between;
  align-items: flex-end;
  padding: 10px 50px;
  border-bottom: 0.5px solid #ffffff;
  background-color: #000000;
}
.home-links-container {
  display: flex;
  align-items: end;
  justify-content: center;
  gap: 10px;
}

.home-link {
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
  font-size: xx-large;
}

.menu-icon {
  width: 4cap;
  height: 4cap;
  cursor: pointer;
  color: #ffffff;
}

.nav-links-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: end;
  gap: 20px;
}
.nav-links {
  display: flex;
  gap: 30px;
}

.dashboard-link {
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
  font-size: x-large;
}

.ai-assistant-link {
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
  font-size: x-large;
  background: transparent;
  border: none;
}

.ai-assistant-link:hover {
    color: grey;
 }
